body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.heading {
    font-size: 50px;
    font-style: italic;
    color: blueviolet;
}

.container {
    text-align: center;
}

.btn {
    margin-top: 20px;
    height: 50px;
    width: 180px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    border: 5px;
    margin: 20px;
    cursor: pointer;
    border-color: blueviolet;

}

.btn-dark {
    background-color: #333333;
    color: white;
}

.btn-light {
    background-color: white;
    color: black;
}


.bg-dark {
    background-color: #333333;
    color: white;
}

.bg-light {
    background-color:yellow;
    color: #333333;
}
